body {
    /* padding: 7% 13%; */
    line-height: 1.5;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin: 50px 0px;
}

.top-container {
    padding: 3% 13%;
    text-align: center;
    background-color: aqua;
}

.nav-item {
    padding-right: 20px;
}

.name-title {
    padding: 15% 0;
}

h1 {
    font-family: 'Doppio One', sans-serif;
    font-weight: bold;
    font-size: 6rem;
    letter-spacing: 0.5rem;
}

.tagline {
    font-size: 3rem;
}

#about-container {
    padding: 3% 13%;
    text-align: center;
}

.default-profile {
    border-radius: 100%;
    width: 350px;
}

#education-container {
    padding: 3% 13%;
}

.thead-aqua {
    background-color: #48dbfb;
}

.table th, .table  td {
    padding: 30px 10px;
}

@media only screen and (max-width: 760px) {
    .table table, .table thead, .table tbody, .table th, .table td, .table tr {
        display: block;
    }

    .table thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table td {
        position: relative;
        padding: 20px 0;
        padding-left: 50%;
    }

    .table tr:nth-child(odd) {
        background: #48dbfb;
    }

    .table td::before {
        position: absolute;
        top: 20px;
        left: 10px;
        white-space: nowrap;
    }

    .table td:nth-of-type(1):before {content: "Qualification";}
    .table td:nth-of-type(2):before {content: "College";}
    .table td:nth-of-type(3):before {content: "Board";}
    .table td:nth-of-type(4):before {content: "Year of Passing";}
    .table td:nth-of-type(5):before {content: "Percentage";}
}

#projects-container {
    padding: 3% 13%;
}

.project-row {
    margin-bottom: 100px;
}

.number-circle1, .number-circle2, .number-circle3 {
    background-color: red;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 4rem;
    margin-right: 30px;
}

.number-circle1, .number-circle3 {
    float: left;
}

.left {
    width: 100px;
    float: left;
    margin-right: 30px;
}

.right {
    width: 100px;
    float: right;
    margin-left: 30px;
}

.number-circle2 {
    float: right;
}

.mobile-img {
    display: none;
    width: 150px;
    margin: auto;
}

#skills-container {
    padding: 3% 13%;
}

.skill {
    padding: 1.5%;
    border-top: 1px solid #dee2e6;
}


.skill-name {
    display: inline-block;
    width: 50%;
}

.stars {
    display: inline-block;
}

#contact-container {
    margin-top: 50px;
    padding: 1% 13%;
    text-align: center;
    background-color: aqua;
}

.contact-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 2%;
}

.icon-links {
    margin-bottom: 20px;
}


@media only screen and (max-width: 741px) {
    h1 {
      font-size: 4rem;
    }

    .tagline {
        font-size: 1.3rem;
    }

    .top-container, #about-container, #education-container, #projects-container, #skills-container, #contact-container {
        padding: 1% 10%;
    }

    .default-profile {
        width: 280px;
    }

    .left, .right {
        display: none;
    }

    .project-row {
        text-align: center;
    }

    .mobile-img {
        display: block;
    }
  }